.settings
.classpath
.project
target
src/main/webapp/ropasci
/.gwt
src/main/webapp/WEB-INF/deploy
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/classes
src/main/webapp/genfilesforspeedtracer/
src/main/webapp/symbolmanifest.json
src/main/webapp/symbolsforspeedtracer/
src/main/gwt-unitCache